<div class="all">
    <div class="grid-container">
        <div class="form-container">
            <img src="../assets/images/CRM.svg" alt="logo" class="imgLogo">
            <h1>Page 404</h1>
            <h3>Not Found</h3>
            <p class="information">This link you followed is either outdated, inaccurate, or the server has been
                instructed not to let you
                have it.</p>
            <button class="btn btn-navigate" routerLink="/home/welcome">Go to Home Page</button>
        </div>
        <div class="image-container">
            <img src="../assets/images/broken-robot.png" alt="computer image" class="bigImg">
        </div>
    </div>
</div>