.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 8rem;
  margin-left: 28rem;
  margin-bottom: 2rem;
}

.card {
  transition: transform 500ms ease;
  background: linear-gradient(180deg, rgba(31, 31, 31, 0.03) 0%, #fff 100%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.08),
    -5px -5px 20px rgba(0, 0, 0, 0.08);
  width: 22rem;
}

.card:hover {
  transform: scale(1.05);
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  gap: 50px;
  margin-bottom: 16px;
}

.image-container {
  position: relative;
  height: 100px;
}

.card-img {
  border-radius: 50%;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 10px;
}

.title-container {
  position: relative;
}

h5 {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
}

.fa-solid {
  margin-right: 5px;
}

hr {
  margin: 7px 18px;
}

@media only screen and (max-width: 1555px) {
  .container {
    margin-left: 16rem;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    margin-top: 7rem;
    margin-left: 14rem;
  }
}
