<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home/welcome"><img [src]="image" alt="logo image"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex flex-row-reverse align-items-center" id="navbarText">
            <button class="btn btn-outline-light p-1.5 button-logout" (click)="logout()">Logout <i
                    class="fa-solid fa-right-from-bracket logoutIcon"></i>
            </button>
            <h4 class="p-2 pe-5">{{email}}</h4>
            <button type="button" class="icon-button">
                <i class="fa-solid fa-bell"></i>
                <span class="icon-button__badge">2</span>
            </button>
        </div>
    </div>
</nav>