nav {
  background-color: rgb(31, 31, 31);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

img {
  width: 35px;
  padding: 3px;
  margin-left: 13px;
}

h4 {
  color: #e8e9e8;
  font-size: 1.1rem;
  margin: 0;
}

.logoutIcon {
  margin-left: 5px;
}

.button-logout {
  margin-right: 29px;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #333333;
  background: #dddddd;
  opacity: 0.8;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background-color: rgb(210, 0, 0);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background-color: #cccccc;
}
