.nav {
  background-color: #1f1f1f;
}

.notActive {
  cursor: not-allowed;
}

li {
  margin: 13px;
}

a {
  font-size: 1.2rem;
  display: block;
}

.col-2 {
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  margin-top: 74px;
}

.container-fluid {
  max-height: 100vh;
}

@media only screen and (max-width: 1300px) {
  li {
    margin: 10px;
  }

  a {
    font-size: 1rem;
  }
}
