<form #updateCustomer="ngForm" (ngSubmit)="updateTheCustomer()">
    <h3><i class="fa-solid fa-pen "></i><br>Edit Customer</h3>
    <div class="mb-3">
        <label for="firtName" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firtName" id="firtName" placeholder="Enter First Name"
            [(ngModel)]="customer.firstName" #firstName="ngModel" required>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lasttName" placeholder="Enter Last Name"
            [(ngModel)]="customer.lastName" #lastName="ngModel" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" email
            [(ngModel)]="customer.email" #email="ngModel" required>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter Phone Number"
            [(ngModel)]="customer.phone" #phone="ngModel" required>
    </div>
    <button class="btn" type="submit">Update Customer</button>
</form>