<div class="all">
    <div class="grid-container">
        <div class="form-container">
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <img src="../assets/images/CRM.svg" alt="logo" class="imgLogo">
                <h1 class="login">Login</h1>
                <div class="registerButton">
                    <p>Doesn't have an account yet? <a routerLink="/register">Sign Up</a></p>
                </div>
                <div class="form mb-3">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" placeholder="name@example.com" ngModel
                        required email #email="ngModel" [(ngModel)]="user.email" />
                    <small class="text-danger" *ngIf="email.invalid && (email.touched || email.dirty)">Wrong email
                        format</small>
                </div>
                <div class="form">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="floatingPassword"
                        placeholder="Password" ngModel required minlength="8" #password="ngModel"
                        [(ngModel)]="user.password" />
                    <small class="text-danger" *ngIf="password.invalid && (password.touched || password.dirty)">Password
                        length should be at least 8 characters</small>
                </div>
                <button type="submit" class="btn w-100 btn-submit" [disabled]="loginForm.invalid">LOGIN</button>
            </form>
            <p class="text-center hr-lines">or login with</p>
            <button class="btn btn-outline-primary w-100  btn-google" (click)="loginWithGoogle()"><i
                    class="fa-brands fa-google"></i> Login with
                Google</button>
            <div class="demo">
                <p class="demoLogin text-center">Demo login</p>
                <p class="demoLogin">Email: leigh@gmail.co.il | password: 12345678</p>
            </div>
        </div>
        <div class="image-container">
            <img src="../assets/images/login.svg" alt="computer image" class="bigImg">
        </div>
    </div>
</div>