<form #addCustomer="ngForm" (ngSubmit)="addNewCustomer()">
    <h3><i class="fa-solid fa-user-plus"></i><br>Add a new customer</h3>
    <div class="mb-3">
        <label for="firtName" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firtName" id="firtName" placeholder="Enter First Name"
            [(ngModel)]="customer.firstName" #firstName="ngModel" required>
        <small class="text-danger" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">This
            field is
            requierd</small>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter Last Name"
            [(ngModel)]="customer.lastName" #lastName="ngModel" required>
        <small class="text-danger" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">This field
            is
            requierd</small>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" email
            [(ngModel)]="customer.email" #email="ngModel" required>
        <small class="text-danger" *ngIf="email.invalid && (email.touched || email.dirty)">Wrong email
            format</small>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter Phone Number"
            [(ngModel)]="customer.phone" #phone="ngModel" minlength="8" required>
        <small class="text-danger" *ngIf="phone.invalid && (phone.touched || phone.dirty)">Wrong phone
            format</small>
    </div>
    <button class="btn submitButton" type="submit" [disabled]="addCustomer.invalid">Add Customer</button>
</form>