<div class="allBody">
    <div class="container">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="border border-1 p-2" placeholder="First Name" [(ngModel)]="firstName">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="border border-1 p-2" placeholder="Last Name" [(ngModel)]="lastName">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="border border-1 p-2" placeholder="Phone" [(ngModel)]="phone">
        </div>
        <button type="button" class="btn btnAddCustomer" (click)="addCustomer()"><i class="fa-solid fa-user-plus"></i>
            Add
            Customer</button>
    </div>
    <ng-container
        *ngIf="customers | filter:'firstName': firstName | filter:'lastName':lastName | filter:'phone':phone as customers">
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th scope="col" class="rowNumber">No.</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers; index as i">
                    <th scope="row" class="rowNumber">{{i +1}}</th>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td><a (click)="showCustomer(customer)" class="show"><i
                                class="fa-solid fa-address-card hButton"></i></a>
                    </td>
                    <td>
                        <a (click)="updateCustomer(customer)" class="edit"><i class="fa-solid fa-pen eButton"></i></a>
                    </td>
                    <td><a (click)="deleteCustomer(customer)" class="delete"><i
                                class="fa-solid fa-trash dButton"></i></a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>